footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;   
  background-color: #12C39A;
}

.open-ai-link {
  color: white;
  font-size: x-small;
  text-align: right;
}

.open-ai-link p {
  margin-top: 20px;
  margin-right: 10px
}